include:
  - https://gitlab.com/Linaro/tuxpkg/-/raw/main/gitlab-ci-pipeline.yml

variables:
  TUXPKG: python3 -m tuxpkg
  TUXPKG_PROJECT: {{ project }}

pages:
  stage: deploy
  needs:
    - test
    - repository
  only:
    - tags
  script:
    - mkdir public
    - echo SOON > public/index.html
    - cp -r dist/repo public/packages
  artifacts:
    paths:
      - public
