Source: {{ project }}
Maintainer: Your Name <your.name@yourdomain.com>
Section: python
Priority: optional
Build-Depends: bash-completion,
               debhelper-compat (= 13),
               dh-python,
               flit,
               git,
               python3-all,
               python3-pytest,
               python3-pytest-cov,
               python3-pytest-mock
Standards-Version: 4.6.0.1
Homepage: FIXME

Package: {{ project }}
Architecture: all
Depends: ${misc:Depends}, python3 (>= 3.6), ${python3:Depends}
Description: <FIXME>
 <FIXME>
