name: CI

on:
  push:
    branches: [main, master]
    tags: ['v*']
  pull_request:
    branches: [main, master]

env:
  REGISTRY: ghcr.io

jobs:
  ci-image-debian:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: {% raw %}${{ env.REGISTRY }}{% endraw %}
          username: {% raw %}${{ github.actor }}{% endraw %}
          password: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
      - name: Build and push Debian image
        run: |
          docker build -t {% raw %}${{ env.REGISTRY }}/${{ github.repository }}{% endraw %}:ci-debian -f Dockerfile.ci-debian .
          docker push {% raw %}${{ env.REGISTRY }}/${{ github.repository }}{% endraw %}:ci-debian

  ci-image-fedora:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: {% raw %}${{ env.REGISTRY }}{% endraw %}
          username: {% raw %}${{ github.actor }}{% endraw %}
          password: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
      - name: Build and push Fedora image
        run: |
          docker build -t {% raw %}${{ env.REGISTRY }}/${{ github.repository }}{% endraw %}:ci-fedora -f Dockerfile.ci-fedora .
          docker push {% raw %}${{ env.REGISTRY }}/${{ github.repository }}{% endraw %}:ci-fedora

  ci-image-archlinux:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: {% raw %}${{ env.REGISTRY }}{% endraw %}
          username: {% raw %}${{ github.actor }}{% endraw %}
          password: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
      - name: Build and push Arch Linux image
        run: |
          docker build -t {% raw %}${{ env.REGISTRY }}/${{ github.repository }}{% endraw %}:ci-archlinux -f Dockerfile.ci-archlinux .
          docker push {% raw %}${{ env.REGISTRY }}/${{ github.repository }}{% endraw %}:ci-archlinux

  tuxpkg:
    needs: [ci-image-debian, ci-image-fedora, ci-image-archlinux]
    uses: Linaro/tuxpkg/.github/workflows/tuxpkg.yml@main
    with:
      tuxpkg_project: {{ project }}
      ci_image_debian: {% raw %}ghcr.io/${{ github.repository }}:ci-debian{% endraw %}
      ci_image_fedora: {% raw %}ghcr.io/${{ github.repository }}:ci-fedora{% endraw %}
      ci_image_archlinux: {% raw %}ghcr.io/${{ github.repository }}:ci-archlinux{% endraw %}
    secrets: inherit

  pages:
    if: {% raw %}${{ github.ref_type == 'tag' }}{% endraw %}
    needs: tuxpkg
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: {% raw %}${{ steps.deployment.outputs.page_url }}{% endraw %}
    steps:
      - name: Download repository
        uses: actions/download-artifact@v4
        with:
          name: repository
          path: public/packages
      - name: Create index
        run: echo "SOON" > public/index.html
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: public
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
